@media screen and (min-width: 0px) and (max-width: 600px) {
  .deliveryImage {
    display: none;
  }
  .placeOrderBody {
    position: relative;
    max-width: 950px;
    height: 10px;
    margin: 0px auto;
    padding: 0px 10px 35px 10px;
  }
  .summarry {
    position: relative;
    width: 100%;
    -webkit-box-flex: 0;
    flex-grow: 0;
    flex-shrink: 0;
    padding: 0px 0px 20px 0px;
  }
}
@media screen and (min-width: 600px) and (max-width: 1000px) {
  .summarry {
    position: relative;
    width: 100%;
    -webkit-box-flex: 0;
    flex-grow: 0;
    flex-shrink: 0;
    max-width: 50%;
    padding: 0px 0px 20px 30px;
  }
  .deliveryImage {
    box-shadow: rgb(0 0 0 / 10%) 0px 4px 16px;
    width: 322px;
    height: 243px;
    border: 1px solid rgb(232, 232, 232);
    border-radius: 0.8rem;
    margin-bottom: 15px;
    overflow: hidden;
    padding: 10px;
  }
  .placeOrderBody {
    position: relative;
    max-width: 950px;
    height: 10px;
    margin: 0px auto;
    padding: 0px 10px 35px 10px;
  }
  .zomatoOrderImage{
    width: 322px;
  }
}
@media screen and (min-width: 1000px) and (max-width: 1500px) {
  .deliveryImage {
    box-shadow: rgb(0 0 0 / 10%) 0px 4px 16px;
    width: 500px;
    height: 380px;
    border: 1px solid rgb(232, 232, 232);
    border-radius: 0.8rem;
    margin-bottom: 15px;
    overflow: hidden;
    padding: 20px;
  }
  .summarry {
    position: relative;
    width: 100%;
    -webkit-box-flex: 0;
    flex-grow: 0;
    flex-shrink: 0;
    max-width: 33.3333%;
    padding: 0px 0px 20px 30px;
  }
  .zomatoOrderImage{
    width: 500px;
  }
  .placeOrderBody {
    position: relative;
    max-width: 950px;
    height: 10px;
    margin: 0px auto;
    padding-bottom: 3.5rem;
  }
}
.placeOrderTitle {
    font-size: 40px;
    line-height: 1.2;
    margin: 20px 0px 25px;
    font-weight: 600;
    color: rgb(54, 54, 54);
    font-family: "Quicksand", sans-serif;
  }
  .placeOrder {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
  }
  .deliveryAdd {
    padding: 15px;
    background: rgb(254, 240, 255);
  }