@media screen and (min-width: 0px) and (max-width: 600px) {
  .imageList {
    display: none;
  }
  .hotelDetails {
    padding: 10px 0px;
    font-family: "Quicksand", sans-serif;
  }
  .review {
    display: none;
  }
  .reviewRating {
    display: flex;
    align-items: center;
    font-size: inherit;
    cursor: pointer;
    margin-right: 10px;
  }

  .foodType {
    color: rgb(105, 105, 105);
    font-size: 16px;
    line-height: 25px;
    padding-left: 13px;
  }
  .timings {
    display: flex;
    flex-direction: column;
    margin-top: 0.5rem;
    align-items: flex-start;
    transition: opacity 0.2s ease-in-out 0s;
    padding-left: 10px;
  }
  .details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
  }
}
@media screen and (min-width: 600px) and (max-width: 1000px) {
  .hotelDetails {
    padding: 10px 0px;
    font-family: "Quicksand", sans-serif;
  }
  .imageList {
    display: flex;
    height: 24rem;
  }
  .review {
    display: block;
    font-size: inherit;
    margin-left: 0.8rem;
  }
  .reviewRating {
    display: flex;
    align-items: center;
    font-size: inherit;
    cursor: pointer;
    margin-right: 100px;
  }

  .foodType {
    color: rgb(105, 105, 105);
    font-size: 16px;
    line-height: 25px;
    padding-left: 13px;
  }
  .timings {
    display: flex;
    flex-direction: column;
    margin-top: 0.5rem;
    align-items: flex-start;
    transition: opacity 0.2s ease-in-out 0s;
    padding-left: 10px;
  }
  .details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
  }
}
@media screen and (min-width: 1000px) and (max-width: 1500px) {
  .hotelDetails {
    padding: 10px 110px;
    font-family: "Quicksand", sans-serif;
  }
  .imageList {
    display: flex;
    height: 24rem;
  }
  .review {
    display: block;
    font-size: inherit;
    margin-left: 0.8rem;
  }
  .reviewRating {
    display: flex;
    align-items: center;
    font-size: inherit;
    cursor: pointer;
    margin-right: 100px;
  }

  .foodType {
    color: rgb(105, 105, 105);
    font-size: 16px;
    line-height: 25px;
    padding-left: 3px;
  }
  .timings {
    display: flex;
    flex-direction: column;
    margin-top: 0.5rem;
    align-items: flex-start;
    transition: opacity 0.2s ease-in-out 0s;
  }
  .details {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.hotelName {
  line-height: 1.2;
  color: rgb(28, 28, 28);
  margin: 0px;
  font-weight: 600;
  font-size: 40px;
  cursor: pointer;
}
.hotelRating {
  display: flex;
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  align-items: center;
  justify-content: center;
  background-color: rgb(36, 150, 63);
  color: rgb(255, 255, 255);
  height: 1.5rem;
  min-width: 2.4rem;
  padding: 0px 0.4rem;
  font-size: 1rem;
  border-radius: 0.6rem;
  border: 1px solid rgb(36, 150, 63);
}
.noOfReview {
  font-weight: 600;
  font-size: 1rem;
  line-height: 1rem;
  padding-bottom: 0px;
  border-bottom: unset;
  color: rgb(54, 54, 54);
}
.reviewTitle {
  width: 100px;
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 1rem;
  padding-bottom: 0.2rem;
  border-bottom: 0.5px dashed rgb(181, 181, 181);
  color: rgb(54, 54, 54);
}
.timing {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  transition: opacity 0.2s ease-in-out 0s;
}
.openNow {
  color: rgb(244, 162, 102);
  font-size: 14px;
  line-height: 1.5;
}
.dash {
  margin: 0px 1rem;
  color: rgb(130, 130, 130);
  font-size: 14px;
  line-height: 1.5;
}
.hours {
  color: rgb(130, 130, 130);
  font-size: 14px;
  line-height: 1.5;
}
.menu {
  display: flex;
  width: 100%;
  max-width: 110rem;
  overflow: auto hidden;
  min-height: 42px;
  position: relative;
}
.overview {
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  max-height: 100%;
  margin-right: 20px;
  cursor: pointer;
}
.overviewTitle {
  font-size: 20px;
  line-height: 1.5;
  font-weight: 300;
  padding: 0rem 0.8rem;
  color: rgb(105, 105, 105);
}
.overviewHr {
  height: 0.1rem;
  border-color: transparent;
  border-radius: 0.7rem;
  align-self: center;
  background-color: rgb(255, 126, 139);
  width: 100%;
  margin: 0.8rem 0px 0.1rem;
  will-change: transform;
  transition: transform 0.25s cubic-bezier(0.445, 0.05, 0.55, 0.95) 0s;
  z-index: 1;
}
.mainHr {
  width: calc(100% - 2px);
  height: 0rem;
  border-top: 2px solid rgb(207, 207, 207);
  border-bottom: none;
  bottom: 1px;
  left: 0px;
  margin: 0px;
  padding: 0px;
  position: absolute;
}
.mainImage {
  width: 686px;
  height: 370px;
  position: relative;
  cursor: pointer;
  margin: 0px;
  overflow: hidden;
  filter: brightness(0.9);
  transition: 0.5s;
}
.mainImageDiv{
  width: 686px;
  height: 370px;
  position: relative;
  cursor: pointer;
  margin: 0px;
  overflow: hidden;
}
.mainImage:hover {
  width: 686px;
  height: 370px;
  position: relative;
  cursor: pointer;
  margin: 0px;
  overflow: hidden;
  filter: brightness(1.05);
  transform: scale(1.05);
  transition: 0.5s;
}
.subImages {
  margin-left: 0.4rem;
  display: flex;
  flex-direction: column;
}
.subImage {
  width: 200px;
  height: 182px;
  position: relative;
  cursor: pointer;
  margin: 0px;
  overflow: hidden;
  filter: brightness(0.9);
  margin: 0px 0px 0.3rem;
  transition: 0.5s;
}
.subImage:hover {
  width: 200px;
  height: 182px;
  position: relative;
  cursor: pointer;
  margin: 0px;
  overflow: hidden;
  margin: 0px 0px 0.3rem;
  filter: brightness(1.05);
  transform: scale(1.05);
  transition: 0.5s;
}
.subImageDiv{
  width: 200px;
  height: 182px;
  position: relative;
  cursor: pointer;
  margin: 0px;
  overflow: hidden;
  margin: 0px 0px 0.3rem;
}
.viewGallery {
  background-image: url(https://b.zmtcdn.com/data/pictures/chains/5/61555/d50930b3a6c3089ab26b7f40389e453b.jpg?fit=around|300:273&crop=300:273;*,*);
  width: 200px;
  height: 182px;
  background-size: cover;
  filter: brightness(0.6);
}
.galleryTitle {
  font-size: inherit;
  line-height: 1.5;
  font-weight: 500;
  margin: 20px 50px 50px 50px;
  color: rgb(32, 28, 28);
}
.addPhotos {
  width: 200px;
  height: 182px;
  background-image: url(https://image.shutterstock.com/image-vector/camera-add-icon-260nw-1054194038.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin: 0.3rem 0px 0px;
  filter: brightness(0.5);
  cursor: pointer;
}
.addTitle {
  color: black;
  margin-left: 50px;
}
.restDetails {
  position: sticky;
  top: 0px;
  z-index: 3;
  background: rgb(255, 255, 255);
  align-self: flex-start;
}
