.brands {
  position: relative;
  max-width: 110rem;
  max-height: initial;
  margin: 0px auto;
  padding: 40px 100px 40px 100px;
}

.brand {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
@media screen and (min-width: 0px) and (max-width: 600px) {
  .brands {
    position: relative;
    max-width: 110rem;
    max-height: initial;
    margin: 0px auto;
    padding: 40px 0px 40px 0px;
  }
  .brandTitle {
    color: rgb(28, 28, 28);
    font-size: 1.6rem;
    text-align: center;
    line-height: 1.2;
    font-weight: 600;
    margin: 0px 0px 25px;
    font-family: "Quicksand", sans-serif;
  }
}
@media screen and (min-width: 600px) and (max-width: 1000px) {
  .brands {
    position: relative;
    max-width: 110rem;
    max-height: initial;
    margin: 0px auto;
    padding: 25px 50px 15px 50px;
  }
  .brandTitle {
    color: rgb(28, 28, 28);
    font-size: 2rem;
    line-height: 1.2;
    font-weight: 600;
    margin: 0px 0px 25px;
    font-family: "Quicksand", sans-serif;
  }
}
@media screen and (min-width: 1000px) and (max-width: 1500px) {
  .brands {
    position: relative;
    max-width: 110rem;
    max-height: initial;
    margin: 0px auto;
    padding: 25px 100px 15px 100px;
  }
  .brandTitle {
    color: rgb(28, 28, 28);
    font-size: 2rem;
    line-height: 1.2;
    font-weight: 600;
    margin: 0px 0px 25px;
    font-family: "Quicksand", sans-serif;
  }
}