@media screen and (min-width: 0px) and (max-width: 600px) {
  .topListRight {
    display: none;
  }
}
.topBar {
  width: 100%;
  max-width: 100%;
  display: block;
  position: relative;
  height: 4rem;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  top: 0px;
  background-color: transparent;
}
.topList {
  list-style: none;
  display: flex;
  align-items: center;
}
.topListItem {
  margin-right: 50px;
  font-family: "Quicksand", sans-serif;
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
  color: white;
  text-decoration: none;
}
.topListLogin {
  margin-right: 5px;
  font-family: "Quicksand", sans-serif;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  color: white;
  text-decoration: none;
}
.topListItemRight {
  margin-right: 50px;
  font-family: "Quicksand", sans-serif;
  font-size: 0.9rem;
  font-weight: 600;
  cursor: pointer;
  color: white;
  text-decoration: none;
}
.navBar {
  width: 100%;
  max-width: 70rem;
  margin: 0px auto;
  display: flex;
  flex-wrap: nowrap;
  height: 100%;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  z-index: 4;
}
.login {
  display: flex;
  align-items: center;
}
.loginIcon {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-image: url(https://b.zmtcdn.com/images/user_avatars/mug_2x.png?fit=around%7C100%3A100&crop=100%3A100%3B%2A%2C%2A);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin-right: 5px;
}
.options {
  position: absolute;
  top: 2.5rem;
  right: 0px;
  z-index: 10;
  opacity: 1;
  width: 7rem;
  visibility: visible;
  background: rgb(255, 255, 255);
  border-radius: 8px;
  box-shadow: rgb(28 28 28 / 15%) 0px 2px 8px;
  transform: translateY(20px);
  transition: transform 0.25s ease 0s, opacity 0.25s ease 0s;
  overflow: hidden;
}
.option {
  color: rgb(28, 28, 28);
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
}
.loginOptions {
  font-size: 1rem;
  font-weight: 600;
  width: 100%;
  padding: 0.5rem;
  background: rgb(255, 255, 255);
  text-align: left;
  font-family: "Quicksand", sans-serif;
  cursor: pointer;
  text-decoration: none;
}
@media screen and (min-width: 600px) and (max-width: 1500px) {
  .topListRight {
    list-style: none;
  }
}
