@media screen and (min-width: 0px) and (max-width: 600px) {
  .topListRight {
    display: none;
  }
}
.topBar {
  width: 100%;
  max-width: 100%;
  display: block;
  position: relative;
  height: 4rem;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  top: 0px;
  background-color: transparent;
}
.topList {
  list-style: none;
  display: flex;
  align-items: center;
}
.topListItem {
  margin-right: 50px;
  font-family: "Quicksand", sans-serif;
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
  color: white;
  text-decoration: none;
}
.topListItemRight {
  margin-right: 50px;
  font-family: "Quicksand", sans-serif;
  font-size: 0.9rem;
  font-weight: 600;
  cursor: pointer;
  color: white;
  text-decoration: none;
}
.navBar {
  width: 100%;
  max-width: 70rem;
  margin: 0px auto;
  display: flex;
  flex-wrap: nowrap;
  height: 100%;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  z-index: 4;
}
@media screen and (min-width: 600px) and (max-width: 1500px) {
  .topListRight {
    list-style: none;
  }
}